@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
        
        body{
            margin: 0px;
            padding: 0px;
            font-family: "Open Sans", sans-serif;
        }
        h1{
            font-size: 3.5rem;
            height: 30px;
            color: grey;
        }
        .number{
            font-size: 3.5rem;
        }
        .main{
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            gap:10px;
        }
        button{
            font-size: 1.5rem;
            color: white;
            background-color: rgb(9, 251, 247);
            padding: 10px;
            font-weight: 600;
            border-radius: 5px;
            cursor: pointer;
            
        }
        .btn{
            display: flex;
            gap:10px;
        }