<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>
<body>
    <p>
        hi {{ user.username }},
    </p>
    <p>We have recieved a request reset password. Click the link below to set a new password</p>
    <p><a href="http://{{ domain }}/blogs/password_reset_confirm/?token={{ token }}">Reset your Password</a></p>
    <p>If you did not request this change, you can ignore this email</p>
    <p>Thank You!</p>
</body>
</html>