.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.box1{
    width: 480px;
    height: 370px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: s;
    align-items: start;
}
img{
    width: 480px;
    height: 230px;
}
button{
    background-color: rgb(76, 198, 250);
}
button:hover{
    background-color: rgb(76, 198, 250);
    cursor: pointer;
}
h2{
    margin-bottom: 0px;
}