*{
    font-size: 15px;
    padding: 5px;
}
thead{
    text-align: left;
    font-style: italic;
}
thead th{
    font-size: x-large;
}
table{
    border-collapse: collapse;
    width: 100%;
}
thead{
    background-color: rgb(173, 171, 171);
}
tr:nth-child(3n) > td{
    color: green;
    font-weight: bold;
}
tr:nth-child(4n+1) > td{
    font-size: 30px;
    font-style: italic;
}
tbody > tr:last-child > td:nth-child(1){
     border: none;
}
tbody > tr:last-child > td:nth-child(2){
     border: none;
}
tbody > tr > td{
     width:100px;
}
tbody > tr:last-child {
    background-color: rgb(230, 249, 20);
}
table{
    border: 1px;
}