.main{
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: rgb(181, 179, 179);
}
.head{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.head > div:nth-child(1){
    width: 60px;
    border:2px solid rgb(189, 15, 44);
}
.head > div:nth-child(3){
    width: 60px;
    border:2px solid rgb(189, 15, 44);
}
.head  h2{
    font-size: 2em;
}
.body{
    width: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
    padding: 40px 77px;
    position: relative;
    /* margin-left: 50px; */
}
.box{
    width: 300px;
    background-color: whitesmoke;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}
.box-img img{
    width: 300px;
    height: 170px;
    border-radius: 10px;
}
.box-text{
    width: 300px;
    display: flex;
    justify-content: end;
    align-items: center;
    
}
.box-text img{
    width: 20px;
    
}
.box-text div:nth-child(1){
   width: 120px;
   height: 50px;
   position: relative;
   top: 10px;
   margin-bottom: 10px;
   border: 3px solid rgb(244, 154, 169);
    background-color: rgb(247, 212, 218);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0px 0px 10px;
    border-style: dashed;
}
.box-text div:nth-child(2){
   width: 40px;
   height: 50px;
   position: relative;
   top: 10px;
   margin-bottom: 10px;
    border: 3px solid rgb(244, 154, 169);
    background-color: rgb(247, 212, 218);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 10px 10px 0px;
    border-style: dashed;
    cursor: pointer;
}
@media all and (min-width: 480px) and (max-width:800px){
    .body{
        grid-template-columns: repeat(2,1fr);
        gap: 15px;
        padding: 50px 83px;
        position: relative;
        /* margin-left: 50px; */
    }
}
@media all and (min-width: 0px) and (max-width:480px){
    .body{
        grid-template-columns: repeat(1,1fr);
        gap: 15px;
        padding: 50px 83px;
        position: relative;
        /* margin-left: 50px; */
    }
}