@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", serif;
  background-color: rgb(51, 50, 50);
  color: white;
}
.main {
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
img {
  height: 400px;
  width: 600px;
}
.btn {
  width: 500px;
  display: flex;
  justify-content: space-around;
}
button {
  font-size: 1.1rem;
  width: 100px;
  color: white;
  background-color: rgb(23, 189, 186);
  padding: 10px;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: inset;
}
.input{
    display: flex;
    justify-content: space-between;
    width: 600px;
}
input{
    width: 220px;
    height: 30px;
    padding: 7px;
    background-color: rgb(67, 79, 79);
}